.container{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.editor textarea{
    background-color: rgb(217, 219, 218);
}

.previewer {
    width: 700px;
    height: auto;
    background-color: rgb(217, 219, 218);
}

.previewer img {
    width: 500px;
}